section {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  /* min-height: 70vh; */
  padding: 0 60px;
  overflow: hidden;
}

.text-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-slider .swiper-slide {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  background-color: #e5b9a2;
  border-radius: 0.8rem;
  padding: 3rem;
  user-select: none;
}
.text-slider .swiper-slide h2 {
  /* font-size: clamp(1.8rem, 4vw, 6rem);
  font-weight: 600;
  line-height: 1; */
  background: -webkit-linear-gradient(90deg, orange, #e0b298);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-bottom: 32px; */
}
.text-slider .swiper-slide p {
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  font-weight: 200;

  margin-bottom: 24px;
}

.cube-slider {
  position: relative;
  max-width: 100%;

  width: 450px;
  aspect-ratio: 9/10;
  padding-right: 20px;
}
.cube-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #e0b298;
  border-radius: 20px;
  box-shadow: inset 18px 18px 18px 8px #fabfa9, inset -18px -18px 8px #95615e;
  user-select: none;
  animation: blinking 3s infinite ease-in-out;
}
@keyframes blinking {
  50% {
    border-color: #e0b298;
  }
}

.cube-slider .swiper-slide img {
  width: 90%;
  height: 90%;
  border: 1px solid #e0b298;
  border-radius: 16px;
  object-fit: cover;
  object-position: 50% 20%;
  filter: grayscale(30%);
  pointer-events: none;
}
@media (max-width: 1140px) {
  /* section { */
  /* min-height: 250px; */
  /* } */
  /* .text-slider .swiper-slide {
    padding-left: 60px;
  } */
  /* .text-slider .swiper-slide h1 {
    margin-bottom: 16px;
  } */
}
@media (max-width: 1100px) {
  /* .text-slider .swiper-slide {
    padding-left: 0;
  }
  .cube-slider .swiper-slide {
    border-width: 3px;
  } */
}
@media (max-width: 900px) {
  /* .text-slider .swiper-slide {
    margin-bottom: 24px;
  }
  .text-slider .swiper-slide p {
    margin-bottom: 16px;
  } */
}
@media (max-width: 700px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "cube-slider" "text-slider";
    gap: 30px;
  }
  .cube-slider {
    grid-area: cube-slider;
    width: 300px;
    padding-right: 0;
  }
  .text-slider {
    grid-area: text-slider;
  }
  .text-slider .swiper-slide {
    max-width: 4500px;
    /* min-height: 400px; */
  }
}

@media (max-width: 500px) {
  section {
    grid-template-rows: 3fr 5fr;
    padding: 20px 40px;
  }
  .cube-slider {
    width: 260px;
  }
  /* .text-slider .swiper-slide { */
  /* margin-top: 30px;
     */
  /* height: 200px; */
  /* } */
  /* .text-slider .swiper-slide h1 {
    margin-top: 18px;
  } */
}
