:root {
  --width: 400px;
}

html,
body {
  position: relative;
  height: 100%;
}
/* .swiper { */
.testimonialsSwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.testimonialsSwiper .swiper-slide .slide-container {
  display: grid;
  grid-template-columns: 48% 50%;
  grid-template-rows: 100%;
  column-gap: 30px;
  height: 100%;
  padding-right: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 120px;
  text-align: center;
  opacity: 0;
}
.info h1 {
  font-size: clamp(2.25rem, 3.5vw, 8rem);
  font-weight: 400;
  letter-spacing: 2px;
  width: max-content;
  margin-bottom: 32px;
  opacity: 0;
}

[data-color="purple"] {
  color: rgb(87, 1, 167);
}
[data-color="blue"] {
  color: rgb(0, 102, 255);
}
[data-color="pink"] {
  color: rgb(255, 105, 180);
}
[data-color="green"] {
  color: rgb(0, 128, 0);
}
[data-color="orange"] {
  color: rgb(255, 165, 0);
}
[data-color="red"] {
  color: rgb(255, 0, 0);
}
[data-color="teal"] {
  color: rgb(0, 128, 128);
}
[data-color="yellow"] {
  color: rgb(255, 255, 0);
}
[data-color="cyan"] {
  color: rgb(0, 255, 255);
}
[data-color="lime"] {
  color: rgb(50, 205, 50);
}
[data-color="gold"] {
  color: rgb(255, 215, 0);
}
[data-color="brown"] {
  color: rgb(165, 42, 42);
}
[data-color="silver"] {
  color: rgb(192, 192, 192);
}
[data-color="navy"] {
  color: rgb(0, 0, 128);
}
.info p {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  font-weight: 300;
  line-height: 1.5;
  opacity: 0;
}
.testimonialsSwiper .swiper-slide-active .info {
  opacity: 1;
}

.testimonialsSwiper .swiper-slide-active .info h1,
.testimonialsSwiper .swiper-slide-active .info p {
  animation: moveDown 0.8s ease-in forwards;
}

.testimonialsSwiper .swiper-slide-active .info h1 {
  animation-delay: 0.2s;
}
.testimonialsSwiper .swiper-slide-active .info p {
  animation-delay: 1s;
}

@keyframes moveDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  aspect-ratio: 1/1;
  margin: auto;
}
.circle {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.circle[data-item="purple"] {
  border: 1px solid rgb(87, 1, 167);
}
.circle[data-item="blue"] {
  border: 1px solid rgb(0, 123, 255);
}
.circle[data-item="pink"] {
  border: 1px solid rgb(255, 180, 146);
}
.circle[data-item="green"] {
  border: 1px solid rgb(0, 59, 23);
}
.circle[data-item="orange"] {
  border: 1px solid rgb(195, 78, 0);
}
.circle[data-item="red"] {
  border: 1px solid rgb(220, 53, 69);
}
.circle[data-item="teal"] {
  border: 1px solid rgb(32, 201, 151);
}
.circle[data-item="yellow"] {
  border: 1px solid rgb(255, 193, 7);
}
.circle[data-item="cyan"] {
  border: 1px solid rgb(23, 162, 184);
}
.circle[data-item="lime"] {
  border: 1px solid rgb(174, 255, 0);
}
.circle[data-item="gold"] {
  border: 1px solid rgb(255, 215, 0);
}
.circle[data-item="brown"] {
  border: 1px solid rgb(139, 69, 19);
}
.circle[data-item="silver"] {
  border: 1px solid rgb(192, 192, 192);
}
.circle[data-item="navy"] {
  border: 1px solid rgb(0, 0, 128);
}

.circle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
}

.circle[data-item="purple"]::before {
  background: linear-gradient(
    to left bottom,
    #5701a7,
    #5e298f,
    #be78ff,
    #e0bfff
  );
}
.circle[data-item="blue"]::before {
  background: linear-gradient(
    to left bottom,
    #0066ff,
    #3399ff,
    #99ccff,
    #cce6ff
  );
}
.circle[data-item="pink"]::before {
  background: linear-gradient(
    to right bottom,
    #ff69b4,
    #ff85c1,
    #ff99cc,
    #ffcce6
  );
}
.circle[data-item="green"]::before {
  background: linear-gradient(
    to left bottom,
    #008000,
    #32cd32,
    #90ee90,
    #d0ffd0
  );
}
.circle[data-item="orange"]::before {
  background: linear-gradient(to bottom, #ffa500, #ffb732, #ffc966, #ffe6cc);
}
.circle[data-item="red"]::before {
  background: linear-gradient(
    to left bottom,
    #ff0000,
    #ff3333,
    #ff6666,
    #ffcccc
  );
}
.circle[data-item="teal"]::before {
  background: linear-gradient(
    to left bottom,
    #008080,
    #33a1a1,
    #66c2c2,
    #ccf0f0
  );
}
.circle[data-item="yellow"]::before {
  background: linear-gradient(
    to left bottom,
    #ffff00,
    #ffff66,
    #ffff99,
    #ffffcc
  );
}
.circle[data-item="cyan"]::before {
  background: linear-gradient(
    to left bottom,
    #00ffff,
    #33ffff,
    #99ffff,
    #ccffff
  );
}
.circle[data-item="lime"]::before {
  background: linear-gradient(
    to left bottom,
    #32cd32,
    #5cd65c,
    #99e699,
    #d0ffd0
  );
}
.circle[data-item="gold"]::before {
  background: linear-gradient(to bottom, #ffd700, #ffdd33, #ffe066, #fff2cc);
}
.circle[data-item="brown"]::before {
  background: linear-gradient(
    to left bottom,
    #a52a2a,
    #b44d4d,
    #c28585,
    #e0cccc
  );
}
.circle[data-item="silver"]::before {
  background: linear-gradient(
    to left bottom,
    #c0c0c0,
    #cccccc,
    #e6e6e6,
    #f2f2f2
  );
}
.circle[data-item="navy"]::before {
  background: linear-gradient(
    to left bottom,
    #000080,
    #333399,
    #6666cc,
    #ccccff
  );
}

.animated-circle::before {
  animation: colorTransition 2s linear forwards;
}

@keyframes colorTransition {
  0% {
    height: 0;
    top: -50%;
  }
  100% {
    height: 100%;
    top: 0%;
  }
}
.testimonialsSwiper .swiper-slide img {
  display: block;
  width: calc(var(--width) / 2);
  filter: drop-shadow(5px 6px 5px rgb(255, 253, 253));
  user-select: none;
  opacity: 0;
  z-index: 1;
}

.testimonialsSwiper .swiper-slide-active img {
  animation: itemMoveDown 0.8s ease-in forwards 1.4s;
}

@keyframes itemMoveDown {
  0% {
    transform: translateY(calc(var(--width) / -5));
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.testimonialsSwiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: grey;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.testimonialsSwiper .swiper-pagination-bullet-active {
  height: 36px;
  background-color: rgb(199, 199, 199);
  border-radius: 14px;
}

@media (max-width: 1250px) {
  .info {
    padding-left: 90px;
  }
}
@media (max-width: 1075px) {
  :root {
    --width: 400px;
  }
  .testimonialsSwiper .swiper-slide .slide-container {
    column-gap: 20px;
  }
  .info {
    padding-left: 60px;
  }
}
@media (max-width: 900px) {
  :root {
    --width: 360px;
  }

  .info {
    padding-left: 30px;
  }
}
@media (max-width: 790px) {
  .testimonialsSwiper .swiper-slide .slide-container {
    grid-template-columns: 100%;
    grid-template-rows: 60% 35%;

    column-gap: 0;
    grid-template-areas:
      "item"
      "info";
    padding: 30px;
  }
  .item {
    grid-area: item;
  }
  .info {
    grid-area: info;
  }

  .info h1 {
    margin-bottom: 16px;
    width: unset;
    line-height: 1.1;
  }
  .testimonialsSwiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .testimonialsSwiper .swiper-pagination-bullet-active {
    height: 28px;
  }
}
@media (max-width: 485px) {
  :root {
    --width: 200px;
  }
  .info p {
    line-height: 1.4;
  }
}
