:root {
  --width: 400px;
}

html,
body {
  position: relative;
  height: 100%;
}
/* .swiper { */
.testimonialsSwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide .slide-container {
  display: grid;
  grid-template-columns: 48% 50%;
  grid-template-rows: 100%;
  column-gap: 30px;
  height: 100%;
  padding-right: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 120px;
  text-align: center;
  opacity: 0;
}
.info h1 {
  font-size: clamp(2.25rem, 3.5vw, 8rem);
  font-weight: 400;
  letter-spacing: 2px;
  width: max-content;
  margin-bottom: 32px;
  opacity: 0;
}

[data-color="purpule"] {
  color: rgb(87, 1, 167);
}
[data-color="green"] {
  color: rgb(0, 59, 23);
}
[data-color="orange"] {
  color: rgb(195, 78, 0);
}
[data-color="pink"] {
  color: rgb(255, 180, 146);
}
.info p {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  font-weight: 300;
  line-height: 1.5;
  opacity: 0;
}
.swiper-slide-active .info {
  opacity: 1;
}

.swiper-slide-active .info h1,
.swiper-slide-active .info p {
  animation: moveDown 0.8s ease-in forwards;
}

.swiper-slide-active .info h1 {
  animation-delay: 0.2s;
}
.swiper-slide-active .info p {
  animation-delay: 1s;
}

@keyframes moveDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  aspect-ratio: 1/1;
  margin: auto;
}
.circle {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.circle[data-item="purple"] {
  border: 1px solid rgb(87, 1, 167);
}
.circle[data-item="green"] {
  border: 1px solid rgb(0, 59, 23);
}
.circle[data-item="orange"] {
  border: 1px solid rgb(195, 78, 0);
}
.circle[data-item="pink"] {
  border: 1px solid rgb(255, 180, 146);
}
.circle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
}

.circle[data-item="purple"]::before {
  background: linear-gradient(
    to left bottom,
    rgb(87, 1, 167),
    rgb(94, 41, 143),
    rgb(190, 120, 255),
    rgb(224, 191, 255)
  );
}
.circle[data-item="green"]::before {
  background: linear-gradient(
    to left bottom,
    rgb(0, 59, 23),
    rgb(2, 152, 60),
    rgb(135, 232, 172),
    rgb(210, 255, 227)
  );
}
.circle[data-item="orange"]::before {
  background: linear-gradient(
    to bottom,
    rgb(195, 78, 0),
    rgb(248, 117, 29),
    rgb(243, 141, 74),
    rgb(255, 203, 168)
  );
}
.circle[data-item="pink"]::before {
  background: linear-gradient(
    to right bottom,
    rgb(255, 180, 146),
    rgb(251, 201, 178),
    rgb(243, 210, 194),
    rgb(252, 241, 236)
  );
}

.animated-circle::before {
  animation: colorTransition 2s linear forwards;
}

@keyframes colorTransition {
  0% {
    height: 0;
    top: -50%;
  }
  100% {
    height: 100%;
    top: 0%;
  }
}
.swiper-slide img {
  display: block;
  width: calc(var(--width) / 2);
  filter: drop-shadow(5px 6px 5px rgb(255, 253, 253));
  user-select: none;
  opacity: 0;
  z-index: 1;
}

.swiper-slide-active img {
  animation: itemMoveDown 0.8s ease-in forwards 1.4s;
}

@keyframes itemMoveDown {
  0% {
    transform: translateY(calc(var(--width) / -5));
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: grey;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.swiper-pagination-bullet-active {
  height: 36px;
  background-color: rgb(199, 199, 199);
  border-radius: 14px;
}

@media (max-width: 1250px) {
  .info {
    padding-left: 90px;
  }
}
@media (max-width: 1075px) {
  :root {
    --width: 400px;
  }
  .swiper-slide .slide-container {
    column-gap: 20px;
  }
  .info {
    padding-left: 60px;
  }
}
@media (max-width: 900px) {
  :root {
    --width: 360px;
  }

  .info {
    padding-left: 30px;
  }
}
@media (max-width: 790px) {
  .swiper-slide .slide-container {
    grid-template-columns: 100%;
    grid-template-rows: 60% 35%;

    column-gap: 0;
    grid-template-areas:
      "item"
      "info";
    padding: 30px;
  }
  .item {
    grid-area: item;
  }
  .info {
    grid-area: info;
  }

  .info h1 {
    margin-bottom: 16px;
    width: unset;
    line-height: 1.1;
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .swiper-pagination-bullet-active {
    height: 28px;
  }
}
@media (max-width: 485px) {
  :root {
    --width: 200px;
  }
  .info p {
    line-height: 1.4;
  }
}
