@tailwind base;
@tailwind components;
@tailwind utilities;

*,
before,
after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("/font/SourceSerifPro-LightIt.otf") format("opentype");
}

@font-face {
  font-family: "Didot Italic";
  src: url("/font/Didot Italic.ttf") format("truetype");
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}
p {
  font-family: "Source Serif Pro", serif;

  font-weight: 100;
  margin-bottom: 2rem;
  letter-spacing: normal;
  word-spacing: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: "Didot Italic", serif;

  text-transform: capitalize;
  font-weight: lighter;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 99;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.8rem;
}

.link {
  color: white;
  background-color: #e5b9a2;
  padding: 0.7rem 1.7rem;
  border-radius: 0.7rem;
  transition: transform 0.3s ease, scale 0.3s ease;
}
.link:hover {
  scale: 0.9;
}
.headerimages {
  display: flex;
  height: 100vh;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.logo {
  font-size: 3rem;
  color: #95615e;
}
.active {
  color: #95615e;
}
.logName {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.logDiv {
  display: flex;
  gap: 1rem;
}
.frontDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  height: 100vh;
  background-image: url("/homepage/petra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* .marquee {
  padding: 2rem 20rem;
  max-width: 100%;
  overflow: hidden;
  --speed: 7s;
  --item-width: clamp(50px, 10vw, 100px);
  --item-gap: clamp(100px, 15vw, 250px);
  --num-items: 7;
  --single-slide-speed: calc(var(--speed) / var(--num-items));
  --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
  --track-width: calc(var(--item-width-plus-gap) * var(--num-items));
}

.marquee-track {
  display: flex;
  gap: var(--item-gap);
  animation: marquee-move var(--speed) linear infinite;
  width: var(--track-width);
}

.marquee.rtl .marquee-track {
  animation: marquee-move-rtl var(--speed) linear infinite;
}

.marquee-item {
  width: var(--item-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  color: #fff;
  flex-shrink: 0;
}

@keyframes marquee-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--item-gap)));
  }
} */
.marquee {
  padding: 2rem 20rem;
  max-width: 100%;
  overflow: hidden;
  --speed: 7s;
  --item-width: clamp(50px, 10vw, 100px);
  --item-gap: clamp(100px, 15vw, 250px);
  --num-items: 7;
  --single-slide-speed: calc(var(--speed) / var(--num-items));
  --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
  --track-width: calc(var(--item-width-plus-gap) * var(--num-items));
}

.marquee-track {
  display: flex;
  gap: var(--item-gap);
  animation: marquee-move var(--speed) linear infinite;
  width: var(--track-width);
}

.marquee.rtl .marquee-track {
  animation: marquee-move-rtl var(--speed) linear infinite;
  width: var(--track-width);
}

.marquee-item {
  width: var(--item-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  color: #fff;
  flex-shrink: 0;
}

@keyframes marquee-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--item-gap)));
  }
}

@keyframes marquee-move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% + var(--item-gap)));
  }
}

.staticInfo {
  padding: 1rem;
}
.countsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.countDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 3rem inset #95615e;
}
.counNum {
  color: #95615e;
  font-weight: 500;
}
/* .x {
  font-size: 16px;
} */
.footerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;

  gap: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 3rem #95615e;
  background: linear-gradient(
    to right bottom,
    #f3e1c8,
    /* Pale beige for soft highlights */ #edd2a8,
    /* Light golden sand */ #e6c49a,
    /* Warm sandy tone */ #d8b38a /* Soft earthy brown */
  );
}
.footerIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 3rem #95615e;
  width: 300px;
}
.footerLogo {
  transition: transform 0.3s ease, scale 0.3s ease;
}
.footerLogo:hover {
  scale: 1.1;
}
.slidelink {
  color: white;
  background-color: #e5b9a2;
  border: 0.1rem solid white;
  padding: 0.7rem 1.7rem;
  border-radius: 0.7rem;
  transition: transform 0.3s ease, scale 0.3s ease;
}
.slidelink:hover {
  scale: 0.9;
}
.packages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.package {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0.5rem 0.5rem 3rem inset#95615e;
  border-radius: 0.5rem;
  background-color: white;
}
@media screen and (min-width: 336px) {
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  a {
    font-size: 1.2rem;
  }
  .footerIcon {
    font-size: 2rem;
  }
  .x {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease, scale 0.3s ease;
  }
  .x:hover {
    scale: 1.1;
  }

  .nav {
    flex-wrap: wrap;
  }

  .links {
    display: none;
    overflow: hidden;
    order: 1;
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.7rem #95615e;
  }
  .show-nav {
    display: flex;
    flex-direction: column;
  }
  .staticDiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 5rem 1rem;
    padding: 1rem;
  }
  .staticImg {
    border-radius: 1rem;
  }
  .staticInfo > h2 {
    text-align: center;
  }
  .counNum {
    font-size: 4rem;
  }
  .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    margin: 1rem;
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.7rem #95615e;
  }
}

@media screen and (min-width: 786px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }

  .ham {
    display: none;
  }
  .x {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  .links {
    order: unset;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0.7rem 4.5rem;
    margin-top: 0rem;
  }
  .staticDiv {
    display: flex;
    flex-direction: row;
  }
  .staticImg {
    width: 40%;
    height: 70rem;
  }
  .staticInfo {
    width: 60%;
  }
  .counNum {
    font-size: 4.4rem;
  }
  .footerLinks {
    flex-direction: row;
  }
  .footerIcon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 785px) {
  a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 2.2rem;
    line-height: 1.6;
  }
  a {
    font-size: 1.5rem;
  }
  .staticImg {
    height: 80rem;
  }
  .countsDiv {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .counNum {
    font-size: 4.7rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3.7rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: clamp(2.4rem, 1.5vw, 4rem);
    line-height: 1.6;
  }
  a {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .counNum {
    font-size: 5.4rem;
  }
}
