.detailMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: hidden;
}

.container {
  width: 85%;
}
.detailSwiper {
  width: 100%;
  padding: 60px 0;
}

.detailSwiper .swiper-slide {
  position: relative;
  width: 400px;
  height: 520px;
  background: transparent;
  box-shadow: 1px 22px 44px black;
  border-radius: 20% 6px 20% 6px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
}
.detailSwiper .swiper-slide-active {
  border: 3px solid wheat;
  transition: 0.6s ease-in-out;
}

.detailSwiper .title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding: 25px 25px 30px;
}
.detailSwiper .title h1 {
  color: white;
  font-weight: 700;
  opacity: 1;
}

.detailSwiper .swiper-slide-active .title h1 {
  opacity: 0;
  transition: 0.8s;
  transition-delay: 1.5s;
}

.detailSwiper .content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 25px 25px 65px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  color: white;
  opacity: 0;
}

.detailSwiper .swiper-slide-active .content {
  opacity: 1;
  transform: 0.8s;
  transition-delay: 1.5s;
}
.score {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 45px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f8aa4a;
  border-radius: 50%;
  box-shadow: 0 50px 50px -20px grey,
    0 30px 60xp -30px grey inset 0 -2px 6px 0 grey;
  opacity: 0;
  font-weight: 600;
}

.detailSwiper .swiper-slide-active .score {
  opacity: 1;
  transition: 0.8s;
  transition-delay: 0.9s;
}

.text {
  border-left: 4px solid #f8aa4a;
  padding-left: 10px;
  opacity: 0;
}
.detailSwiper .swiper-slide-active .text {
  opacity: 1;
  transition: 1s;
  transition-delay: 2s;
}

.text p {
  transform: translateY(100%);
  opacity: 0;
}

.detailSwiper .swiper-slide-active .text p {
  transform: translateY(0);
  opacity: 1;
  transition: 1.5s;
  transition-delay: 1.8s;
  margin-bottom: -2px;
}

.detailSwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}

.detailSwiper .swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 14px;
  background: linear-gradient(120deg, orange, yellow);
  box-shadow: 0 0 20px 0 orange;
  transition: all 0.8s ease-in-out;
}
.detailInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
  padding: 1rem;
}
.detailHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 480px) {
  .detailSwiper .swiper-slide {
    width: 300px;
  }

  .score {
    width: 40px;
    font-size: 0.8rem;
  }

  .detailSwiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 14px;
  }

  .detailSwiper .swiper-pagination-bullet-active {
    width: 28px;
    border-radius: 14px;
    background: linear-gradient(120deg, orange, yellow);
    box-shadow: 0 0 20px 0 orange;
    transition: all 0.8s ease-in-out;
  }
}
